services:
  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: kashmar552
      POSTGRES_DB: booking-apits
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  backend:
    build: ./backend
    restart: always
    ports:
      - '3000:3000'
    depends_on:
      redis:
        condition: service_healthy
    env_file:
      - ./backend/backend.env
    environment:
      # Override DB URL to use container name 'postgres' instead of localhost
      # - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB:-postgres}?schema=public
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  ai:
    build: ./ai
    ports:
      - '8000:8000'
    env_file:
      - ./ai/ai.env

volumes:
  postgres:
  redis_data:
