services:
  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: kashmar552
      POSTGRES_DB: booking-apits
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  backend:
    build: ./backend
    restart: always
    ports:
      - '3000:3000'
      - '5555:5555'
    depends_on:
      redis:
        condition: service_healthy
    env_file:
      - ./backend/backend.env
    environment:
      # Override DB URL to use container name 'postgres' instead of localhost
      # - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB:-postgres}?schema=public
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  ai:
    build: ./ai
    ports:
      - '8000:8000'
    env_file:
      - ./ai/ai.env

  # frontend:
  #   build: ./frontend
  #   restart: always
  #   ports:
  #     - '3001:3000' # Backend is 3000, so we map Frontend 3000 internal to 3001 external? OR standard 3000/3001
  #   depends_on:
  #     - backend
  #   environment:
  #     # Browser runs on host, so it needs public URL.
  #     # If SSR fetches from backend, it needs internal URL.
  #     # Next.js usually handles this via two vars, but simpler here.
  #     - NEXT_PUBLIC_API_URL=http://backend:3000
  #
  #
volumes:
  postgres:
  redis_data:
